.section {
  min-height: 400px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.intro-text {
  font-size: larger;
}

.intro-image {
  width: 100px;
  height: 100px;
}