// body {
//   font-family: 'Proxima Nova', Georgia, sans-serif;
// }

.section {
  min-height: 400px;
  padding: 10px;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.intro-text {
  font-size: larger;
}
.intro {
  background-color: black;
}
.intro-image {
  width: 150px;
  height: 150px;

}

.intro-image img {
  object-fit: cover;
  height: 150px;
}

.section-2, .section-4 {
  background-color: black;
  color: white;
}

.article {
  // border-radius: 10px;
  // border: solid 1px #bbbbbb;
}

.tall {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.article-image img, .project-image img{
  object-fit: cover;
  width: 300px;
  height: 200px;
}

.article-description, .project-description {
  margin-top: 15px;
  margin-bottom: 10px
}

a, a:hover {
  color: #212529;
  text-decoration: none;
}

.video {
  background-color: white;
  height: 150px;
  width: 150px;
  padding: 5px;
}
.video img {
  object-fit: cover;
  height: 125px;
  width: 125px;
}
.button-group {
  display: inline-block;
  margin-top: 10px;
}